/* Add your own CSS code below */

.countries {
  display: flex;
}

.countries-countries--first {
  flex-direction: column;
}

.countries-countries--second {
  flex-direction: row;
}

.countries-countries--third {
  flex-direction: row;
}
